<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Be Funny, Be Happy Mission Planner | Mission Confirm Page</title>

    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="static/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="static/assets/img/favicons/favicon.ico">
    <link rel="manifest" href="static/assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="static/assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="static/assets/css/theme.css" rel="stylesheet" />
</head>
<body>
<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
    <nav class="bg-white navbar navbar-expand-lg navbar-light fixed-top py-3" data-navbar-on-scroll="data-navbar-on-scroll">
        <div class="container"><a class="navbar-brand" href="#"><img src="static/assets/img/icons/logo.png" alt="" width="30" /><span class="text-1000 fs-1 ms-2 fw-medium">Dev2<span class="fw-bold">TEAM</span></span></a>
          <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto border-bottom border-lg-bottom-0 pt-2 pt-lg-0">
              <li class="nav-item"><a class="nav-link active active fw-bold" aria-current="page" href="#">소개</a></li>
              <li class="nav-item"><a class="nav-link" href="#">플래너</a></li>
              <li class="nav-item"><a class="nav-link" href="#">미션 확인</a></li>
              <li class="nav-item"><a class="nav-link" href="#">커뮤니티</a></li>
              <li class="nav-item"><a class="nav-link" href="#">고객센터</a></li>
            </ul>
            <form class="d-flex py-3 py-lg-0">
              <button class="btn btn-link text-1000 fw-medium order-1 order-lg-0" type="button">Sign in</button>
              <button class="btn btn-outline-danger rounded-pill order-0" type="submit">Sign Up</button>
            </form>
          </div>
        </div>
      </nav>
<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="bg-100 pb-6">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="card-box">
                    <h4 class="text-dark header-title">Check Required</h4>
                    <p class="text-muted m-b-30 font-13">This Section's post requires administrator confirmation.</p>
                    <ul class="sortable-list taskList list-unstyled ui-sortable" id="inprogress">
                        <li id="task9" class="ui-sortable-handle">
                            <div class="checkbox checkbox-custom checkbox-single float-end">
                                <input type="checkbox" aria-label="Single checkbox Two">
                                <label></label>
                            </div>If you are going to use a passage of Lorem Ipsum..
                            <div class="clearfix"></div>
                            <div class="mt-3">
                                <p class="float-end mb-0 mt-2">
                                    <button type="button" class="btn btn-success btn-sm waves-effect waves-light">View</button>
                                </p>
                                <p class="mb-0">
                                    <a href="" class="text-muted"><img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="task-user" class="thumb-sm rounded-circle mr-2"> <span class="font-bold font-secondary">Gail Forcewind</span></a>
                                </p>
                            </div>
                        </li>
                        <li class="task-info ui-sortable-handle" id="task10">
                            <div class="checkbox checkbox-custom checkbox-single float-end">
                                <input type="checkbox" aria-label="Single checkbox Two">
                                <label></label>
                            </div>It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                            <div class="clearfix"></div>
                            <div class="mt-3">
                                <p class="float-end mb-0 mt-2">
                                    <button type="button" class="btn btn-success btn-sm waves-effect waves-light">View</button>
                                </p>
                                <p class="mb-0">
                                    <a href="" class="text-muted"><img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="task-user" class="thumb-sm rounded-circle mr-2"> <span class="font-bold font-secondary">Maya Didas</span></a>
                                </p>
                            </div>
                        </li>
                        <li class="task-danger ui-sortable-handle" id="task11">
                            <div class="checkbox checkbox-custom checkbox-single float-end">
                                <input type="checkbox" aria-label="Single checkbox Two">
                                <label></label>
                            </div>There are many variations of passages of Lorem Ipsum available.
                            <div class="clearfix"></div>
                            <div class="mt-3">
                                <p class="float-end mb-0 mt-2">
                                    <button type="button" class="btn btn-success btn-sm waves-effect waves-light">View</button>
                                </p>
                                <p class="mb-0">
                                    <a href="" class="text-muted"><img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="task-user" class="thumb-sm rounded-circle mr-2"> <span class="font-bold font-secondary">Rick O'Shea</span></a>
                                </p>
                            </div>
                        </li>
                        <li class="task-warning ui-sortable-handle" id="task7">
                            <div class="checkbox checkbox-custom checkbox-single float-end">
                                <input type="checkbox" aria-label="Single checkbox Two">
                                <label></label>
                            </div>When an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            <div class="clearfix"></div>
                            <div class="mt-3">
                                <p class="float-end mb-0 mt-2">
                                    <button type="button" class="btn btn-success btn-sm waves-effect waves-light">View</button>
                                </p>
                                <p class="mb-0">
                                    <a href="" class="text-muted"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="task-user" class="thumb-sm rounded-circle mr-2"> <span class="font-bold font-secondary">Petey Cruiser</span></a>
                                </p>
                            </div>
                        </li>
                    </ul><a href="#" class="btn btn-custom btn-block mt-3 waves-effect waves-light"><i class="fa fa-plus-circle"></i> Add New</a></div>
            </div>
            <div class="col-lg-6">
                <div class="card-box">
                    <h4 class="text-dark header-title">Completed</h4>
                    <p class="text-muted m-b-30 font-13">Your awesome text goes here. Your awesome text goes here.</p>
                    <ul class="sortable-list taskList list-unstyled ui-sortable" id="completed">
                        <li class="task-warning ui-sortable-handle" id="task14">
                            <div class="checkbox checkbox-custom checkbox-single float-end">
                                <input type="checkbox" aria-label="Single checkbox Two">
                                <label></label>
                            </div>When an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            <div class="clearfix"></div>
                            <div class="mt-3">
                                <p class="float-end mb-0 mt-2">
                                    <button type="button" class="btn btn-success btn-sm waves-effect waves-light">View</button>
                                </p>
                                <p class="mb-0">
                                    <a href="" class="text-muted"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="task-user" class="thumb-sm rounded-circle mr-2"> <span class="font-bold font-secondary">Petey Cruiser</span></a>
                                </p>
                            </div>
                        </li>
                        <li class="task-success ui-sortable-handle" id="task15">
                            <div class="checkbox checkbox-custom checkbox-single float-end">
                                <input type="checkbox" aria-label="Single checkbox Two">
                                <label></label>
                            </div>Many desktop publishing packages and web page editors now use Lorem.
                            <div class="clearfix"></div>
                            <div class="mt-3">
                                <p class="float-end mb-0 mt-2">
                                    <button type="button" class="btn btn-success btn-sm waves-effect waves-light">View</button>
                                </p>
                                <p class="mb-0">
                                    <a href="" class="text-muted"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="task-user" class="thumb-sm rounded-circle mr-2"> <span class="font-bold font-secondary">Anna Sthesia</span></a>
                                </p>
                            </div>
                        </li>
                        <li id="task16" class="ui-sortable-handle">
                            <div class="checkbox checkbox-custom checkbox-single float-end">
                                <input type="checkbox" aria-label="Single checkbox Two">
                                <label></label>
                            </div>If you are going to use a passage of Lorem Ipsum..
                            <div class="clearfix"></div>
                            <div class="mt-3">
                                <p class="float-end mb-0 mt-2">
                                    <button type="button" class="btn btn-success btn-sm waves-effect waves-light">View</button>
                                </p>
                                <p class="mb-0">
                                    <a href="" class="text-muted"><img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="task-user" class="thumb-sm rounded-circle mr-2"> <span class="font-bold font-secondary">Gail Forcewind</span></a>
                                </p>
                            </div>
                        </li>
                        <li class="task-info ui-sortable-handle" id="task17">
                            <div class="checkbox checkbox-custom checkbox-single float-end">
                                <input type="checkbox" aria-label="Single checkbox Two">
                                <label></label>
                            </div>It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                            <div class="clearfix"></div>
                            <div class="mt-3">
                                <p class="float-end mb-0 mt-2">
                                    <button type="button" class="btn btn-success btn-sm waves-effect waves-light">View</button>
                                </p>
                                <p class="mb-0">
                                    <a href="" class="text-muted"><img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="task-user" class="thumb-sm rounded-circle mr-2"> <span class="font-bold font-secondary">Maya Didas</span></a>
                                </p>
                            </div>
                        </li>
                        <li class="task-danger ui-sortable-handle" id="task18">
                            <div class="checkbox checkbox-custom checkbox-single float-end">
                                <input type="checkbox" aria-label="Single checkbox Two">
                                <label></label>
                            </div>There are many variations of passages of Lorem Ipsum available.
                            <div class="clearfix"></div>
                            <div class="mt-3">
                                <p class="float-end mb-0 mt-2">
                                    <button type="button" class="btn btn-success btn-sm waves-effect waves-light">View</button>
                                </p>
                                <p class="mb-0">
                                    <a href="" class="text-muted"><img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="task-user" class="thumb-sm rounded-circle mr-2"> <span class="font-bold font-secondary">Rick O'Shea</span></a>
                                </p>
                            </div>
                        </li>
                    </ul><a href="#" class="btn btn-custom btn-block mt-3 waves-effect waves-light"><i class="fa fa-plus-circle"></i> Add New</a></div>
            </div><!-- end row -->
        </div> 
    <!-- container -->
</section>
<!-- <section> close ============================-->
<!-- ============================================-->

</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->
<style type="text/css">
.thumb-sm {
    height: 36px;
    width: 36px;
}
.card-box {
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 30px;
    background-color: #fff;
}
taskList {
    min-height: 40px;
    margin-bottom: 0
}

.taskList li {
    background-color: #fff;
    border: 1px solid rgba(121, 121, 121, .2);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 3px
}

.taskList li:last-of-type {
    margin-bottom: 0
}

.taskList a {
    font-size: 13px
}

.taskList .checkbox {
    margin-left: 20px;
    margin-top: 5px
}
.text-muted {
    color: #98a6ad!important;
}
</style>

    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="static/vendors/@popperjs/popper.min.js"></script>
    <script src="static/vendors/bootstrap/bootstrap.min.js"></script>
    <script src="static/vendors/is/is.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="static/assets/js/theme.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
</body>
</html>