<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="static/assets/css/login.css" rel="stylesheet" />
</head>
<body>
    <div id="contentBox">
        <img class="fit-picture" id = "chickenImage" src="static/assets/img/favicons/android-chrome-512x512.png"/>
        <h1>치킨 캘린더</h1>
        <button_area>
                    <img class="fit-picture" id = "login" src="static/assets/img/favicons/btnG.png" onclick="login()" />
        </button_area>
    </div>
    <script src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.2.js" charset="utf-8"></script>
    <script src="static/assets/js/naverLogin.js"></script>
</body>
</html>

