<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Be Funny, Be Happy Mission Planner | Ranking</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="static/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="static/assets/img/favicons/favicon.ico">
    <link rel="manifest" href="static/assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="static/assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
	<link rel="stylesheet" type="text/css" href="static/assets/css/style.css">
    <link href="static/assets/css/theme.css" rel="stylesheet"/>
</head>
<body>
	<!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
	<main class="main" id="top">
		<nav class="bg-white navbar navbar-expand-lg navbar-light fixed-top py-3" data-navbar-on-scroll="data-navbar-on-scroll">
		  <div class="container"><a class="navbar-brand" href="#"><img src="static/assets/img/icons/logo.png" alt="" width="30" /><span class="text-1000 fs-1 ms-2 fw-medium">Dev2<span class="fw-bold">TEAM</span></span></a>
			<button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
			  <ul class="navbar-nav mx-auto border-bottom border-lg-bottom-0 pt-2 pt-lg-0">
				<li class="nav-item"><a class="nav-link" href="#">소개</a></li>
				<li class="nav-item"><a class="nav-link" href="#">플래너</a></li>
				<li class="nav-item"><a class="nav-link" href="#">미션 확인</a></li>
				<li class="nav-item"><a class="nav-link" aria-current="page" href="#">커뮤니티</a></li>
				<li class="nav-item"><a class="nav-link active active fw-bold" href="#">랭킹</a></li>
			  </ul>
			  <form class="d-flex py-3 py-lg-0">
				<button class="btn btn-link text-1000 fw-medium order-1 order-lg-0" type="button">Sign in</button>
				<button class="btn btn-outline-danger rounded-pill order-0" type="submit">Sign Up</button>
			  </form>
			</div>
		  </div>
		</nav>
	{% if data %}
	<section class="pb-6 bg-100">
		<div class="container">
			<h1>Top 3</h1>
			<br>
			<br>

			<div class="row">
				<div class="col-sm-4">
					<div class="leaderboard-card">
						<div class="leaderboard-card__top">
							<h3 class="text-center">{{data[2][1]}}</h3>
						</div>
						<div class="leaderboard-card__body">
							<div class="text-center">
								<img src="static/assets/img/users/user2.jpg" class="circle-img mb-2" alt="User Img">
								<h5 class="mb-0">{{data[2][0]}}</h5>
								<hr>
								<div class="d-flex justify-content-between align-items-center">

								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="leaderboard-card leaderboard-card--first">
						<div class="leaderboard-card__top">
							<h3 class="text-center">{{data[0][1]}}</h3>
						</div>
						<div class="leaderboard-card__body">
							<div class="text-center">
								<img src="static/assets/img/users/user1.jpg" class="circle-img mb-2" alt="User Img">
								<h5 class="mb-0">{{data[0][0]}}</h5>

								<hr>
								<div class="d-flex justify-content-between align-items-center">

								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="leaderboard-card">
						<div class="leaderboard-card__top">
							<h3 class="text-center">{{data[1][1]}}</h3>
						</div>
						<div class="leaderboard-card__body">
							<div class="text-center">
								<img src="static/assets/img/users/user3.jpg" class="circle-img mb-2" alt="User Img">
								<h5 class="mb-0">{{data[1][0]}}</h5>

								<hr>
								<div class="d-flex justify-content-between align-items-center">

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<h4>Ranking</h4>

			<table class="table">
				<thead>
					<tr>
						<th>User</th>
						<th>Exp</th>
						<th>Location</th>
						<th>Email</th>
						<th>Congratulate</th>
					</tr>
				</thead>
				{% for d in data %}
				{% if d[1]>
				<tbody>
					<tr>
						<td>
							<div class="d-flex align-items-center">
								<img src="static/assets/img/users/user1.jpg" class="circle-img circle-img--small mr-2" alt="User Img">
								<div class="user-info__basic">
									<h5 class="mb-0">{{d[0]}}</h5>
								</div>
							</div>
						</td>
						<td>
							<div class="d-flex align-items-baseline">
								<h4 class="mr-1">{{d[1]}}</h4>
							</div>
						</td>
						</td>
					</tr>
				</tbody>
				{% endfor %}
			</table>

		</div>
	</section>
	{% endif %}
	</main>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>